    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Downloads</h2>
                    <p>You can download the ROMs (Lollipop/Marshmallow) based for your device.</p>
                    <p>Lollipop ROMs</p>
                    <a href="https://drive.google.com/folderview?id=0B0BrdNni8k4OUTRpSkFKeW1DSXM&usp=sharing" class="btn btn-default btn-lg">Xiaomi Redmi 1S (armani)</a>
                    <a href="https://drive.google.com/folderview?id=0B0BrdNni8k4ONmV4X3NDV0RoMDQ&usp=sharing" class="btn btn-default btn-lg">Xiaomi Mi3 (cancro)</a>
                    <a href="https://drive.google.com/folderview?id=0B0BrdNni8k4OaTJzMTF3czBWSzQ&usp=sharing" class="btn btn-default btn-lg">Samsung Galaxy S2 (i9100)</a>
                    <a href="https://drive.google.com/folderview?id=0B0BrdNni8k4OSm5PblRRakFVbG8&usp=sharing" class="btn btn-default btn-lg">Motorola Moto E (condor)</a>
                     <p>Marshmallow ROMs</p>
                    <a href="https://www.androidfilehost.com/?w=profile&uid=96039337900114784" class="btn btn-default btn-lg">Devices supported - Xiaomi Redmi 1S (armani),Xiaomi Mi3 (cancro) and Samsung Galaxy S2 (i9100)</a>
                </div>
            </div>
        </div>
    </section>
